{% extends "base.html" %}

{% block content %}
<div class="recipes1-container">

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='pancakes') }}">
            <img
              src="{{ url_for('static', filename='img/pancakes.jpg') }}"
              alt="Pancakes"
              class="card__image" />
            <div class="card__body">
                <h2>Pancakes</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='honey_bran_muffins') }}">
            <img
              src="{{ url_for('static', filename='img/honey_bran_muffins.jpg') }}"
              alt="Honey Bran Muffins"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipes1-title-long">Honey Bran Muffins</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='acai_bowl') }}">
            <img
              src="{{ url_for('static', filename='img/acai_bowl.jpg') }}"
              alt="Acai Bowl"
              class="card__image" />
            <div class="card__body">
                <h2>Acai Bowl</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='breakfast_scramble') }}">
            <img
              src="{{ url_for('static', filename='img/breakfast_scramble.jpg') }}"
              alt="Breakfast Scramble"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipes1-title-long">Breakfast Scramble</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='pumpkin_donuts') }}">
            <img
              src="{{ url_for('static', filename='img/pumpkin_donuts.jpg') }}"
              alt="Pumpkin Donuts"
              class="card__image" />
            <div class="card__body">
                <h2>Pumpkin Donuts</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='waffles') }}">
            <img
              src="{{ url_for('static', filename='img/waffles.jpg') }}"
              alt="Waffles"
              class="card__image" />
            <div class="card__body">
                <h2>Waffles</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='omelette') }}">
            <img
              src="{{ url_for('static', filename='img/omelette.jpg') }}"
              alt="Omelette"
              class="card__image" />
            <div class="card__body">
                <h2>Omelette</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='chocolate_donuts') }}">
            <img
              src="{{ url_for('static', filename='img/chocolate_donuts.jpg') }}"
              alt="Chocolate Donuts"
              class="card__image" />
            <div class="card__body">
                <h2>Chocolate Donuts</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='oatmeal') }}">
            <img
              src="{{ url_for('static', filename='img/oatmeal.jpg') }}"
              alt="Oatmeal"
              class="card__image" />
            <div class="card__body">
                <h2>Oatmeal</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='morning_glory_muffins') }}">
            <img
              src="{{ url_for('static', filename='img/morning_glory_muffins.jpg') }}"
              alt="Morning Glory Muffins"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipes1-title-long">Morning Glory Muffins</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

    <div class="card">
        <a href="{{ url_for('recipes1.breakfast_recipes1_detail', recipes1_name='blueberry_smoothie_bowl') }}">
            <img
              src="{{ url_for('static', filename='img/blueberry_smoothie_bowl.jpg') }}"
              alt="Blueberry Smoothie Bowl"
              class="card__image" />
            <div class="card__body">
                <h2 class="recipes1-title-long">Blueberry Smoothie Bowl</h2>
                <p class="recipes1-badge dairy-free-badge">Dairy-Free</p>
                <p class="recipes1-badge soy-free-badge">Soy-Free</p>
            </div>
        </a>
    </div>

</div>
{% endblock %}
